@use "./base.scss";

// put your custom CSS here!
/* Hide the "Explorer" header label, keep the folder tree */
.explorer .explorer-header,
.explorer summary,
.explorer h3 {
  display: none !important;
}