@use "./base.scss";

/* Desktop: hide Explorer heading row and show tree immediately from root folders */
@media all and (min-width: 801px) {
  .explorer > .desktop-explorer {
    display: none !important;
  }

  .explorer > .explorer-content {
    margin-top: 0;
  }
}

// put your custom CSS here!
